<% if article.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      You fucked something up: 
      <%= pluralize(article.errors.count, "error") %>
    </div>
    <ul>
      <% article.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>
