<% provide(:title, "Edit Article") %>
<div class="row-fluid">
  <div class="span8 offset2"><h3>Edit "<%= @article.title %>"</h3></div>
</div>
<div class="article_form">
  <%= render "article_form_no_remote" %>
</div>
