<div class="row-fluid">
  <div class="span8 offset2"><h3>The Office</h3></div>
</div>
<div class="row-fluid">
  <div class="span2 offset2">
    <%= button_tag "Write New Post", class: "btn" %>
  </div>
</div>
