<% provide(:title, "BAHelms United") %>
<section>
  <div class="row-fluid">
    <div class="span8 offset2"><h3>Recent Posts</h3></div>
    <div class="row-fluid">
      <div class="span8 offset2">
        <ul>
          <% if @articles.any? %>
            <%= render @articles %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>
