.articles {
  article { h3 { text-align: center; } }
  #content { 
    margin: 20px 50px 0 50px;
    text-align: justify;
  }
  #published { 
    text-align: center;
    margin-top: -18px;
  }
  #archives {
    h3 { border-top: 1px solid #eaeaea; }
    article {
      margin: 0 50px 20px 50px; 
      a { 
        color: #333;
        &:hover { 
          text-decoration: none;
          color: #0088cc;
        }
      }
    }
  }
}
