.articles {
  article { h3 { text-align: center; } }
  #content { 
    margin: 20px 50px 0 50px;
    text-align: justify;
  }
  #published { 
    text-align: center;
    margin-top: -18px;
  }
  .post_button {
    margin-top: 10px;
  }
}
