<header class="container-fluid">
  <div class="row-fluid">
    <nav class="navbar span8 offset2">
      <div class="navbar-inner">
        <ul class="nav">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Archives", "#" %></li>
          <li><%= link_to "Projects", "#" %></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
